.container
  max-width: 1110px
  margin: auto

@media (max-width: 1200px)
  .container
    max-width: 960px

  .main
    background-position: center

  .about
    &__img
      max-width: 400px
      height: auto
    &__info
      margin-left: 26px

@media (max-width: 992px)
  .container
    max-width: 700px

  .navbar
    display: none
    &__mobile
      padding-top: 40px
      justify-content: center
      position: fixed
      top: 78px
      right: 0
      left: 0
      bottom: 0
      background-color: $section-color
      &--visible
        display: flex
    &-menu
      &__mobile
        display: flex
        flex-direction: column
        align-items: center
      &__item:not(:last-child)
        margin-right: 0
        margin-bottom: 15px
      &__link
        font-size: 24px

  .menu-btn
    display: flex

  .about
    &__img
      max-width: 360px
    &__title
      margin-left: 20px
    &__text
      font-size: 16px
      margin-left: 20px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%

  .main
    padding-top: 80px
    padding-bottom: 90px
    &-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__subtitle
      text-align: center
      font-size: 20px
    &__title
      font-size: 40px
      max-width: 100%
      text-align: center
    &__btn-info
      margin-right: 0
      margin-bottom: 20px
      max-width: 350px
    &__btn-call
      max-width: 350px
    &__buttons
      display: flex
      flex-direction: column

  .about
    padding-top: 70px
    padding-bottom: 60px
    &__img
      display: none
    &__title
      margin: 0
      margin-bottom: 20px
    &__text
      margin: 0
      margin-bottom: 20px
      max-width: 100%
    &__tip
      max-width: 380px
    &-warning
      &-text
        font-size: 14px
    &__info
      padding: 10px
      justify-content: center
      margin: 0

@media (max-width: 576px)
  .navbar
    &-menu
      flex-direction: column
      align-items: center
      &__item:not(:last-child)
        margin-right: 0
        margin-bottom: 16px
  .phone
    &-wrapper
      display: none

  .footer
    &__text
      font-size: 14px

  .main
    &__subtitle
      font-size: 16px
    &__title
      width: 100%
      font-size: 32px
    &__btn
      &-info
        font-size: 18px
      &-call
        font-size: 18px

  .about
    padding-top: 45px
    &__title
      font-size: 26px
    &__text
      font-size: 14px
